<script>
    try {
        const arrayurl = window.location.href.split('/');
        const urlget = arrayurl.pop();
        const getclassmobail = document.getElementById(urlget + '-mobile');
        const getclassmain = document.getElementById(urlget + '-main');
        getclassmobail.classList.add("activebefor");
        getclassmain.classList.add("activebefor");   

    } catch (error) {
        
    }
</script>
</div>
</div>