<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- process.env.APPNAME %>
    </title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

    <!-- js and css library -->
    <link rel="stylesheet" href="/css/tailwindcss.css">
    <script src="/js/jquery.js"></script>

    <!-- font-family css -->
    <link href="/font/poppins.css" rel="stylesheet">
    <link rel="stylesheet" href="/font/fontawesome.css" />

    <!-- datatable css and js -->
    <link rel="stylesheet" type="text/css" href="/css/dataTables.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTablesmin.css">
    <link rel="stylesheet" type="text/css" href="/css/responsivedataTablesmin.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.multiselect.css">
    <link rel="stylesheet" type="text/css" href="/css/multiselectstyle.css">

    <script type="text/javascript" src="/js/dataTables.js"></script>
    <script type="text/javascript" src="/js/dataTablesmin.js"></script>
    <script type="text/javascript" src="/js/dataTablesresponsivemin.js"></script>
    <script type="text/javascript" src="/js/jquery.multiselect.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/scrollbar.js"></script>

    <!-- ck editor -->
    <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>

    <!-- custom css and js -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>

</head>

<body>

    <div class="absolute inset-0" style="background-color:aliceblue;">

    </div>
    <%- body %>
</body>

</html>